<template>

<div id="nav-wrap">
    <div class="nav-wrap-holder">
        <div class="container" id="nav_wrapper">
            <nav class="navbar navbar-static-top nav-white">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    
                <nuxt-link class="navbar-brand" to="/">
                  <h4>Home</h4>
                </nuxt-link>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="" id="Navbar">
                    <!-- regular link -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><nuxt-link v-if="isAuthenticated" to="/dashboard">Dashboard</nuxt-link></li>
                        <li><nuxt-link v-if="isAuthenticated" to="/dashboard/inbox">Inbox</nuxt-link></li>
                        <li><nuxt-link v-if="isAuthenticated" to="/dashboard/properties">My Listings</nuxt-link></li>
                        <li><nuxt-link v-if="!isAuthenticated" to="signup">Signup</nuxt-link></li>
                        <li><nuxt-link v-if="!isAuthenticated" to="login">Login</nuxt-link></li>
                        <li v-if="isAuthenticated" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><nuxt-link to="/dashboard/settings">Settings</nuxt-link></li>
                            <li role="separator" class="divider"></li>
                            <li><nuxt-link to="/logout">Log out</nuxt-link></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- /.div nav wrap holder -->
</div>

</template>

<script>
import { mapGetters } from 'vuex';
  export default {
    computed: {
      ...mapGetters({
        isAuthenticated: 'auth/isAuthenticated',
        user: 'auth/getUser',
      })
    }
  }
</script>

<style>
  .navbar {
    background-color: white;
  }

  .navbar a {
    margin-top: 5px;
  }

  .navbar li a:hover {
    color: grey !important;
  }
  .brand a {
    padding-top: 50px;
    color: grey;
    font-size: 20px;
    text-decoration: none;
  }
  .brand a:hover {
    color: black;
  }
  .navbar-header {
    padding: 14px;
  }
</style>
