<template>
  <div>
    <h1>Nuxt</h1>
    <h4>{{ lastMsg }}</h4>
    <div><button @click="sendMsg">Send works</button></div>
    <div><button @click="getMsgs">Get</button></div>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import apolloClient from '../plugins/apollo';

export default {
  mounted() {
    
    const observer = apolloClient.subscribe({
      query: gql`
        subscription TodoCreated {
          todoCreated {
            id
            text
          }
        }
      `,
    });
    
    observer.subscribe({
      next (data) { console.log('next'); console.log(data) },
      error (error) { console.log(error) },
    });
  },

  data() {
    return {
      lastMsg: 'No last message',
    }
  },

  computed: {
    user() { return this.$store.state.auth.user },
  },

  methods: {
    getMsgs() {  
      console.log('get msgs')
      this.lastMsg = 'retrievin new msg..';

      apolloClient.query({
        fetchPolicy: 'network-only',
        query: gql`
          query {
            todos {
              id
            }
          }     
        `,
      })
      .then(result => { 
        this.lastMsg = result 
        console.log(result);
      })
      .catch(error => { 
        this.lastMsg = 'failed';
        console.log(error) 
      }); 
    },

    sendMsg() {
      console.log('mutate..')
      
      apolloClient.mutate({
        variables: { text: "hello" },
        mutation: gql`
          mutation createTodo($text: String!){
            createTodo(text: $text) {
              id
              text
            }
          }
        `,
        
      })
      .then(result => { console.log('mutation success') })
      .catch(error => { console.log(error) });
    },

  }
}
</script>
