<template>
  <section class="container text-center">
    <div id="login" class="mx-auto container">
      <h2>Please login</h2>

      <div class="form-group">
        <label for="email" class="sr-only">Email address</label>
        <input v-model="email" type="email" id="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input v-model="password" type="password" id="password" class="form-control" placeholder="Password">
      </div>

      <div class="form-group">
        <button @click="login" class="btn btn-success btn-block">Login</button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      email: 'jarnojellesma@gmail.com',
      password: 'test12345',
    };
  },
  methods: {
    async login() {
      console.log('login')
      try {
        console.log('logging in..')
        await this.$store.dispatch('auth/login', { email: this.email, password: this.password })
        console.log('redirecting..')
        this.$router.push('/');
      } catch (e) {
        this.email = '';
        this.password = '';
      }
    },
  },
};
</script>

<style scoped>
input {
  width: 396px;
  margin: 0 auto;
}
button {
  width: 200px;
  margin: 0 auto;
}
</style>
