<template>
  <div id="logout"></div>
</template>

<script>
export default {
  async mounted() {
    try {
      await this.$store.dispatch('auth/logout');
      this.$router.replace('/');
    } catch (e) {
      console.log(error);
    }
  },
};
</script>
