<template>
  <section class="container text-center">
    <div id="login" class="mx-auto container">
      <h2>Sign up</h2>

      <div class="form-group">
        <input id="firstName" v-model="user.firstName" type="email" class="form-control" placeholder="Your first name">
        <input id="lastName" v-model="user.lastName" type="email" class="form-control" placeholder="Your last name">
      </div>

      <div class="form-group">
        <input v-model="user.email" type="email" id="email" class="form-control" placeholder="Your email">
      </div>

      <div class="form-group">
        <input v-model="user.password" type="password" id="password" class="form-control" placeholder="Enter a password">
      </div>

      <div class="form-group">
        <input v-model="user.password2" type="password" id="password2" class="form-control" placeholder="Confirm your password">
      </div>

      <div class="form-group">
        <button @click="signup" class="btn btn-success btn-block">Sign up</button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: {
        firstName: 'jarno',
        lastName: 'jellesma',
        email: 'jarnojellesma@gmail.com',
        password: 'test12345',
        password2: 'test12345',
      },
    };
  },
  methods: {
    signup() {
      this.$store.dispatch('auth/register', this.user)
        .then(() => {
          this.$router.replace('/');
        })
        .catch(() => {
          this.user.firstName = '';
          this.user.lastName = '';
          this.user.email = '';
          this.user.password = '';
          this.user.password2 = '';
        });
    },
  },
};
</script>

<style scoped>
#firstName {
  display: inline-block;
  width: 150px;
  vertical-align:top;
}
#lastName {
  display: inline-block;
  width: 246px;
  vertical-align:top;
}
input {
  width: 396px;
  margin: 0 auto;
}
button {
  width: 200px;
  margin: 0 auto;
}
</style>
