<template>
  <div class="small-container">
    <navbar/>
    <nuxt/>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue';

export default {
  components: {
    Navbar,
  },
}
</script>

<style>
.small-container {
  width: 1050px;
  margin: 0 auto;
}
*:focus {
  outline: none !important;
}
*::-moz-focus-inner {
  border: 0;
}
</style>
